.img-thumbnail {
    margin: -15px 0 0 0;
    width: 100%;
    height: auto;
    border-radius: 1em;
    border: solid #fff;
}
.card {
    h1 {
        padding-bottom: 5px;
        border-radius: 10px;
        margin-bottom: 1em;
    }
    &-body {
        padding: 0 25px;   
    }
    &-footer {
        padding: 10px 15px;
        background-color: #fff;
        border-top: none;
    }
}
