<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img src="{{ user.photoUrl || '../../../../../assets/assetsuser.png'}}" alt="{{ user.knownAs }}"
          class="card-img-top img-thumbnail">
        <div class="card-body">
          <h1>{{ user.knownAs }}</h1>
          <div>
            <strong>Location:</strong>
            <p> {{ user.city }} {{ user.country }} </p>
          </div>
          <div>
            <strong>Age:</strong>
            <p> {{ user.age }} </p>
          </div>
          <div>
            <strong>Last Active:</strong>
            <p> {{ user.lastActive | timeAgo }} </p>
          </div>
          <div>
            <strong>Member since:</strong>
            <p> {{ user.created | date }} </p>
          </div>
        </div>
        <div class="card-footer">
          <div class="btn-group d-flex">
            <button class="btn btn-primary w-100"><i class="fa fa-heart"></i> Like </button>
            <button class="btn btn-success w-100" (click)="selectTab(3)"><i class="fa fa-paper-plane"></i>
              Message </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset #memberTabs>
          <tab heading="About {{ user.knownAs }} ">
            <h4>Description</h4>
            <p> {{ user.introduction }} </p>
            <h4>Looking for</h4>
            <p> {{ user.lookingFor }} </p>
          </tab>
          <tab heading="Interests ">
            <h4>Interests</h4>
            <p> {{ user.interests }} </p>
          </tab>
          <tab heading="Photos">
            <h4>Photos</h4>
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
          </tab>
          <tab heading="Messages">
            <h4>Messages</h4>
            <app-member-messages [recipientId]="user.id"></app-member-messages>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
