<div class="row image-grid">
  <div class="col-sm-12 col-md-6 col-lg-4 image" *ngFor="let photo of photos">
    <img src="{{ photo.url }}" alt="" 
      [ngClass]="photo.isMain ? 'image-main' : 'image-default'"
      class="image-thmb">
    <div class="text-center edit-buttons" *ngIf="!photo.isMain">
      <button 
        class="btn btn-sm btn-success" type="button" 
        (click)="setMainPhoto(photo)">Main</button>
      <button class="btn btn-sm btn-danger" type="button" (click)="deletePhoto(photo.id)"> <i class="fa fa-trash-o"></i> </button>
    </div>
  </div>
</div>

<div class="row photo-uploader">

  <div class="col-md-12">

    <h3>Select files</h3>

    <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)"
      [uploader]="uploader" class="card bg-faded p-3 text-center mb-3 my-drop-zone">
      <i class="fa fa-upload fa-3x"></i>
      Drop file here
    </div>

    <label class="input-file-label btn btn-primary" for="file">Choose files</label>
    <input id="file" class="input-file" type="file" ng2FileSelect [uploader]="uploader" multiple /><br />

  </div>

  <div class="col-md-12" style="margin-bottom: 40px" *ngIf="uploader?.queue?.length">

    <h3>Upload queue</h3>
    <p>Queue length: {{ uploader?.queue?.length }}</p>

    <table class="table">
      <thead>
        <tr>
          <th width="50%">Name</th>
          <th>Size</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of uploader.queue">
          <td><strong>{{ item?.file?.name }}</strong></td>
          <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
        </tr>
      </tbody>
    </table>

    <div>
      <div>
        Queue progress:
        <div class="progress" style="">
          <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
        </div>
      </div>
      <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()"
        [disabled]="!uploader.getNotUploadedItems().length">
        <span><i class="fa fa-upload"></i></span> Upload all
      </button>
      <button type="button" class="btn btn-warning btn-s" (click)="uploader.cancelAll()"
        [disabled]="!uploader.isUploading">
        <span><i class="fa fa-stop"></i></span> Cancel all
      </button>
      <button type="button" class="btn btn-danger btn-s" (click)="uploader.clearQueue()"
        [disabled]="!uploader.queue.length">
        <span><i class="fa fa-trash-o"></i></span> Remove all
      </button>
    </div>

  </div>

</div>