

.image {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0 !important;
    &-thmb {
        height: 200px;
        width: 200px;
    }
    &:hover {
        .edit-buttons {
            display: flex;
        }
    }
    &-grid {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        padding: 2em 1em 0 1em;
    }
    &-main {
        opacity: .4;
    }
}
.edit-buttons {
    position: absolute;
    width: 100%;
    height: 25%;
    background: rgba(250, 250, 250, .7);
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    display: none;
}

.photo-uploader {
    flex-direction: column;
    padding: 1em 0;
    background: #ffffff;
    border-radius: 20px;
    border: solid #ddd;
    border-width: 0 1px;
    // box-shadow: 10px 0 10px 10px rgba(200, 200, 200, 0.15);
    margin-top: 2em;
    overflow: hidden;
}

.my-drop-zone {
    width: 100%;
    border: 1px dashed black;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em 0;
    border-radius: 10px;
}

.input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    &:focus {
        &-label {
          outline: 1px dotted #000;
          outline: -webkit-focus-ring-color auto 5px;
        }
    }
    &-label {
        font-size: 1.25em;
        font-weight: 700;
        display: inline-block;
        cursor: pointer;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        &:hover {
          background-color: #ddaaaa;
        }
        & * {
          pointer-events: none;
        }
    }
}



