.card:hover img {
  transform: scale(1.1, 1.1);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}

.card img {
  transform: scale(1, 1);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}

.card-img-wrapper {
  overflow: hidden;
  transition: .4s ease-out;
  position: relative;
}

.card {
  box-shadow: 2px 2px 2px 2px rgba(100, 100, 100, .1);
}

.member-icons {
  position: absolute;
  top: 100%;
  bottom: -3em;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  opacity: 0;
  display: flex;
}

.card-img-wrapper:hover .member-icons {
  top: 75%;
  opacity: 1;
}

.animate {
  transition: all .3s ease-in-out
}