.bnjr-navbar-form button:disabled {
    opacity: .2;
    background: #f0f0f0 !important;
    color: #3f3f3f;
}

.dropdown {
    &-menu {
        margin-left: 3em;
        margin-right:-3em;
        margin-top: .5em;
        box-shadow: 10px 10px 10px 10px rgba(100,100,100, .1);
    }
    &-toggle, &-item {
        cursor: pointer;
    }
}

.dropdown
.dropdown-item {
    cursor: pointer;
}

.navbar {
    box-shadow: 10px 10px 10px 10px rgba(100, 100, 100, .1);
}

.nav {
    &-profile-picture {
       height: 50px; 
       width: auto;
       border-radius: 50em;
       margin-right: -1em;
    }
}