<nav class="navbar navbar-expand-md fixed">
  <div class="container">    
    <a class="navbar-brand" [routerLink]="['/home']">Bonjour</a>
    
    <ul class="navbar-nav mr-auto" *ngIf="loggedIn()">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/members']"  >Matches</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/lists']">Lists</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/messages']">Messages</a>
      </li>
    </ul>
    
    <div dropdown *ngIf="loggedIn()" class="dropdown">

      <a dropdownToggle class="dropdown-toggle text-light">
        Welcome
        {{ authService.decodedToken?.unique_name | titlecase }}
        <span>
          <img src="{{ photoUrl || '../../../../assets/assetsuser.png' }}" alt="{{ authService.currentUser.username }}"
            class="nav-profile-picture">
        </span>
      </a>
      
      <div *dropdownMenu class="dropdown-menu">
        <a class="dropdown-item" [routerLink]="['/member/edit']" ><i class="fas fa-user"></i> Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Logout</a>
      </div>
    </div>
    
    <form *ngIf="!loggedIn()" #loginForm="ngForm" class="bnjr-navbar-form form-inline my-2 my-lg-0" (ngSubmit)="login()">
      <input class="form-control mr-sm-2" type="text" name="username" 
      placeholder="Username" required [(ngModel)]="model.username">
      <input class="form-control mr-sm-2" type="password" name="password" 
      placeholder="Password" required [(ngModel)]="model.password">
      <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
    </form>
  </div>
</nav>