.img-thumbnail {
  margin: -15px 0 0 0;
  width: 100%;
  height: auto;
  border-radius: 1em;
  border: solid #fff;
}

.card {
  h1 {
    padding-bottom: 5px;
    border-radius: 10px;
    margin-bottom: 1em;
  }

  &-body {
    padding: 0 25px;
  }

  &-footer {
    padding: 10px 15px;
    background-color: #fff;
    border-top: none;
  }
}

.alert-info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 50px 50px 50px;
    p {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    i {
        border: 1px solid;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        margin-left: 10px;
        border-radius: 100%;
        transition: all .3s ease-in;
        &:hover {
            background: #000;
            color: #ffffff;
        }
    }
}