<div class="container mt-4">
  <div class="row" *ngIf="editForm.dirty">
    <div class="alert alert-info">
      <p>
        <strong>Information: you have made changes, unsaved changes will be lost. </strong>
        <i class="fa fa-times"></i>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img src="{{ photoUrl || '../../../../../assets/assetsuser.png' }}" alt="{{ user.knownAs }}"
          class="card-img-top img-thumbnail">
        <div class="card-body">
          <h1> {{ user.knownAs }} </h1>
          <div>
            <strong>Location:</strong>
            <p> {{ user.city }} {{ user.country }} </p>
          </div>
          <div>
            <strong>Age:</strong>
            <p> {{ user.age }} </p>
          </div>
          <div>
            <strong>Last Active:</strong>
            <p> {{ user.lastActive | date }} </p>
          </div>
          <div>
            <strong>Member since:</strong>
            <p> {{ user.created | date }} </p>
          </div>
        </div>
        <div class="card-footer">
          <div class="btn-group d-flex">
            <button [disabled]="!editForm.dirty" form="editForm" class="btn btn-success btn-block"><i
                class="fa fa-save"></i> Save</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset>
          <tab heading="About {{ user.knownAs}} ">
            <form #editForm="ngForm" id="editForm" (ngSubmit)="updateUser()">
              <h4>Description</h4>
              <textarea name="introduction" rows="6" class="form-control" [(ngModel)]="user.introduction"></textarea>
              <h4>Interest</h4>
              <textarea name="interests" rows="6" class="form-control" [(ngModel)]="user.interests"></textarea>
              <h4>Location details</h4>
              <div class="form-inline">
                <label for="city">City</label>
                <input type="text" class="form-control" name="city" [(ngModel)]="user.city">
                <label for="country">Country</label>
                <input type="text" class="form-control" name="country" [(ngModel)]="user.country">
              </div>
            </form>
          </tab>
          <tab heading="Edit Photos">
            <app-photo-editor [photos]="user.photos" (mainPhotoUrl)="updateMainPhoto($event)"></app-photo-editor>
          </tab>
         
        </tabset>
      </div>
    </div>
  </div>
</div>