.member-messages {
    margin-top: 1em;
    &-message {
        display: flex;
        flex-direction: column;
        box-shadow: 1px 5px 1px 1px rgba(100, 100, 100, .2);
        padding: 1em;
        border-radius: .3em;
        margin-bottom: 1em;
        width: 40%;
        flex-wrap: wrap;
        background-color: #f1f1f1;
        &-info {
            align-self: flex-end;
            color: #b1b1b1;
            display: flex;
            justify-content: space-around;
            &-data span {
                margin-right: .5em;
            }
        }
        &-recipient {
            background-color: #EB6864;
            color: #ffffff;
            align-self: flex-end;
            .member-messages-message-info {
                color: #ffffff;
            }
        }
    }
}

.card-body {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 400px;
}