<div class="member-messages card">
  <div class="card-body" >
    <div class="member-messages-message" *ngIf="messages?.length === 0">
      <p>
        No messages yet... sorry.
      </p>
    </div>
    
    <div 
    class="member-messages-message" 
    *ngFor="let message of messages"
    [ngClass]="{'member-messages-message-recipient': message.recipientId == auth.decodedToken.nameid }"
    >
      <p>
        {{ message.content }}
      </p>
      <div class="member-messages-message-info">
        <small class="member-messages-message-info-data">
          <span class="fa fa-clock-o"> {{message?.messageSent | timeAgo }} </span>
          <span class="fa fa-check-circle" *ngIf="message?.isRead">(read)</span>
          <span class="fa fa-paper-plane" *ngIf="!message?.isRead">(Unread)</span>
        </small>
        <small class="member-messages-message-info-name">
          {{ message.senderKnownAs }}
        </small>
      </div>
    </div>
  </div>
  
  <div class="card-footer">
    <form #messageForm="ngForm" (ngSubmit)="messageForm.valid && sendMessage()" >
      <div class="input-group">
        <input 
          [(ngModel)]="newMessage.content"
          name="content"
          type="text" 
          required
          class="form-control input-sm" 
          placeholder="New message">
        <div class="input-group-append">
          <button class="btn btn-primary" [disabled]="!messageForm.valid" >
            <i class="fa fa-paper-plane"></i>
          </button>
        </div>
      </div>
    </form>
  </div>


</div>